# Renomeie este arquivo para secrets.toml e preencha com suas credentials reais.
# NUNCA versione o secrets.toml — adicione ao .gitignore.

[vtex]
store_name = "miess"           # parte do domínio: miess.vtexcommercestable.com.br
app_key    = "vtexappkey-miess-SAKYMG"  # ex: vtexappkey_miess_XXXXXX
app_token  = "SJQCWOLQCZJFQCBQAQGYNWTEIFUNLRTSNGHFWVCDWRPOWJVHLMCZNYLVWOUUDQIDPQQVFDGICLVQWZLMJEWSXTVWKJLDPUHDQAMTJHFGCZMXSZYDKTPBFRDGJNHJMAUG"             # token gerado no painel VTEX → Configurações → App Keys
